@(title: String)


        <body id="page-top">

                <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                <div class="container-fluid">
                    <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="fa fa-newspaper"></span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#GIS">GIS based service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#services">Charts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#contact">TODO</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="header" class="header-section  bg-dark">
                <img class="image" src="@routes.Assets.versioned("images/background.jpg")"  style="width:100%;">
                <div class="title ">
                    <h2 class="h2-section">Fast<span class="fa fa-title fa-bolt"></span><br>Reliable<span class="fa fa-title fa-cogs"></span><br>Crime Analysis </h2>
                </div>
            </div>

            <section id="GIS" class=" bg-dark text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mx-auto float-left">

                            <div  class="input-group">

                                   <input id="long" type="text" class="form-control" placeholder="Location longitude" aria-label="Location longitude">
                                   <input id="lat" type="text" class="form-control" placeholder="Location latitude" aria-label="Location latitude">

                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Radius [m]</label>
                                <select class="form-control" id="exampleFormControlSelect1" disabled="true">
                                    <option>100</option>
                                    <option>250</option>
                                    <option>500</option>
                                    <option>1000</option>
                                    <option>5000</option>
                                </select>

                            </div>
                            <hr class="bg-light">
                            <button id="showResults" type="button" disabled="true" class="btn btn-outline-light" data-toggle="modal" data-target="#searchDatabase">
                                Show results <span class="fa fa-database"></span>
                            </button>
                            <div id="input-group" style="padding: 20px 0"></div>
                        </div>
                        <div id="chicago" class="col-lg-4 float-right" style="width: 900px; height: 700px"></div>

                            <!-- Modal -->
                        @searchModal()
                    </div>
                </div>
            </section>

            <div id="services" class="bg-light">
                <div class="col-responsive">
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                Pie Chart #1
                            </div>
                        </div>
                        <div class="card-body">

                        </div>
                    <div class="card">
                        <div class="card-header">
                            Pie Chart #2
                        </div>
                    </div>
                    <div class="card-body">

                    </div>
                    </div>
                    </div>
            </div>

            <section id="contact" class=" bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mx-auto">


                        </div>
                    </div>
                </div>
            </section>

            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2>Contact us</h2>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        </div>
                    </div>
                </div>
            </section>

                <!-- Footer -->
            <footer class="py-5 bg-dark">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; 2018</p>
                </div>
                    <!-- /.container -->
            </footer>
        </body>