@(title: String)


        <body id="page-top">

                <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                <div class="container-fluid">
                    <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="fa fa-newspaper"></span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#GIS">GIS based service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#services">Charts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#contact">TODO</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="header" class="header-section  bg-dark">
                <img class="image" src="@routes.Assets.versioned("images/background.jpg")"  style="width:100%;">
                <div class="title ">
                    <h2 class="h2-section">Fast<span class="fa fa-title fa-bolt"></span><br>Reliable<span class="fa fa-title fa-cogs"></span><br>Crime Analysis </h2>
                </div>
            </div>

            <section id="GIS" class=" bg-dark text-white">
                <row>
                    <div class="col-5">
                <h2 class="container-title">Proximity Search & Cluster Detection</h2>
                    </div>
                </row>
                <div class="container">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-4">
                            <div  class="input-group">

                                   <input id="long" type="text" class="form-control" placeholder="Location longitude" aria-label="Location longitude">
                                   <input id="lat" type="text" class="form-control" placeholder="Location latitude" aria-label="Location latitude">

                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Radius [m]</label>
                                <select class="form-control" id="exampleFormControlSelect1" disabled="true">
                                    <option>100</option>
                                    <option>250</option>
                                    <option>500</option>
                                    <option>1000</option>
                                    <option>5000</option>
                                </select>

                            </div>
                            <hr class="bg-light">
                            <button id="showResults" type="button" disabled="true" class="btn btn-outline-light" data-toggle="modal" data-target="#searchDatabase">
                                Show results <span class="fa fa-database"></span>
                            </button>
                            <div id="input-group" style="padding: 20px 0"></div>

                            <hr class="style">

                            @bar()

                        </div>
                        <div id="chicago" class="col-lg-6" style="width: 700px; height: 703px"></div>

                            <!-- Modal -->
                        @searchModal()
                    </div>
                </div>
            </section>


            <!-- Help Visualise current data -->
           @dashboard()

            <section id="contact" class=" bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mx-auto">


                        </div>
                    </div>
                </div>
            </section>

            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <h2 class="container-title text-dark">Crime Outcome Prediction</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 mx-auto">

                            <div  class="input-group">

                                <input id="type" type="text" class="form-control" placeholder="Crime Type Reported" aria-label="Crime Type">
                                <input id="place" type="text" class="form-control" placeholder="Location Description" aria-label="Location Description">
                                <button id="predict" class="btn" style=" border-left-radius: 0px"><span class="fa fa-search"></span> </button>

                            </div>

                            <div id='alert' class="alert alert-info" role="alert">
                                <h4 class="alert-heading">Reported events</h4>
                                <p>Based by crime type and location returns the most probable outcome</p>
                                <p class="mb-0">Given a crime type and a minimal location description it will return if the event will outcome with an arrest and if it is domestic</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

                <!-- Footer -->
            <footer class="py-5 bg-dark">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; 2018</p>
                </div>
                    <!-- /.container -->
            </footer>
        </body>